<div class="box center" style="background: #b2e49e; color: #000; border: 1px solid #62B946; margin: 40px 0;">
  <p style="font-weight: 600; font-size: 35px;">
    Tutti possono coltivare!
  </p>
  <p style="margin-bottom: 25px; font-weight: 400; font-size: 30px; ">
    Costruisci il tuo orto idroponico,<br /> con le nostre soluzioni open source<br />e l'aiuto della community
  </p>
  <div class="center">
    <a href="/docs/solutions/overview/" class="button" style="background: transparent; color: #000; border: 1px solid #000; border-radius: 6px;">
      Inizia subito!
    </a>
  </div>
</div>