<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ .Title }}</title>
  <meta name="description" content="{{with .Description }}{{ . }}{{else}}Send e-mail campaigns and transactional e-mails. High performance and features packed into one app.{{end}}" />
  <meta name="keywords" content="{{ if .Keywords }}{{ range .Keywords }}{{ . }}, {{ end }}{{else if isset .Params "tags" }}{{ range .Params.tags }}{{ . }}, {{ end }}{{end}}">
  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link href="{{ .Site.BaseURL }}static/base.css" rel="stylesheet" type="text/css" />
  <link href="{{ .Site.BaseURL }}static/style.css" rel="stylesheet" type="text/css" />

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <link rel="icon" href="{{ .Site.BaseURL }}static/images/favicon.png" type="image/png" />

  <meta property="og:title" content="{{ .Title }}" />
  {{ if .Params.thumbnail }}
    <link rel="image_src" href="{{ .Site.BaseURL }}static/images/{{ .Params.thumbnail }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}static/images/{{ .Params.thumbnail }}" />
  {{ else }}
    <link rel="image_src" href="{{ .Site.BaseURL }}static/images/thumbnail.png" />
    <meta property="og:image" content="{{ .Site.BaseURL }}static/images/thumbnail.png" />
  {{ end }}
</head>
<body>

<div class="container">
  <header class="header">
    <div class="row">
      <div class="col-2 logo">
        <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}static/images/logo.svg" alt="Gorgoglio logo" /></a>
      </div>
      <nav class="col-10">
        <a class="item" href="{{ "docs" | relURL }}">Docs</a>
      </nav>
    </div>
  </header>
</div>