<form method="post" action="https://75fsz4f8.rsrv.host/subscription/form" class="newsletter-form">
    <input type="hidden" name="nonce" />

    <p>
        <input type="email" name="email" required placeholder="La tua email" />
    </p>
    <p>
        <input type="text" name="name" placeholder="Il tuo nome (opzionale)" />
    </p>

    <p class="small">
        <input id="f7edf" type="checkbox" name="l" checked value="f7edf3e8-bafb-4da0-b894-cf6fa77bb9de" />
        <label for="f7edf">Accetto di essere aggiunto nella newsletter del progetto Gorgoglio</label>
    </p>

    <p class="center demo">
        <input type="submit" value="Iscriviti" class="button"></a>
    </p>
</form>