{{ partial "header.html" . }}
<div class="splash container center">
      <div class="hero">
        <h1 class="title">Progetto Gorgoglìo</h1>
        <h3 class="sub">
          Idroponica libera, automatizzata ed open source
        </h3>
      </div>

      <div class="confetti">
        <img src="{{ .Site.BaseURL }}static/images/splash.png" alt="salad" />
      </div>
  </div>
</div>


<div class="container">
  <section class="lists feature">
    <h2>Didattica</h2>
    <p>
    Progettato per la didattica e la divulgazione, il progetto accompagna maker, studenti e cittadini nella realizzazione pratica di sistemi di coltivazione fuori suolo.
    </p>
  </section>


  <section class="lists feature">
    <h2>Praticità e Accessibilità</h2>
    <p>
    Utilizziamo materiali comuni e componenti elettronici standard, rendendo la costruzione più accessibile e replicabile in contesti diversi.
    </p>
  </section>

  <section class="lists feature">
    <h2>Automazione</h2>
    <p>
    Sistemi di controllo basati su ESP32 per la circolazione dell'acqua e la possibilità di monitorare e intervenire su parametri cruciali come il pH e la conducibilità elettrica della soluzione nutritiva.
    </p>
  </section>

  <section class="lists feature">
    <h2>100% Open Source</h2>
    <p>
      Struttura, modelli 3D, schematici, codice software: ogni cosa è liberamente accessibile, modificabile e condivisibile online.
    </p>
  </section>

  </section>

  <h2 class="center">e molto altro &hellip;</h2>

  {{ partial "contacts.html" . }}



</div>



</div>





{{ partial "footer.html" }}